  
.main-content-news{
    max-width: 1199px;
    padding-left: 45px;
    padding-top: 20px;
    display: flex;
    margin: 0 auto;
}

.main-news{
    max-width: 730px;
}

.facts-video-block{
    width: 350px;
    top: 428px;
    left: 45px;
    gap: 30px;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    margin-right: 20px;
}

.facts{
    width: 350px;
    height: 409px;
    padding-bottom: 20px;
}

.video{
    width: 350px;
    height: 382px;
    padding-bottom: 20px;
}

.facts-header{
    width: 350px;
    height: 39px;
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1;
    gap: 65%;
}
.video-header{
    width: 350px;
    height: 39px;
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1;
    gap: 40%
}

.left-right-btn-group{
    width: 68px;
    height: 24px;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1;
    gap: 10px;
}

img.left-right-img{
    width: 24px;
    height: 24px;
}

.last-news-img{
    width: 350px;
    height: 220px;
    padding-bottom: 10px;
}

.description-block{
    width: 350px;
    height: 110px;
    gap: 5px
}

.news-titles{
    width: 730px;
    max-height: 60px;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1;
    gap: 40%;
}

.news-links-block{
    width: 730px;
    height: 671px;
    gap: 20px;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}

.content-frame{
    width: 730px;
    height: 105px;
    gap: 30px;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1;
}
.main-news{
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}

.news-column-1{
    width: 50%;
    height: 83px; 
    gap: 5px;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}

.news-column-2{
    width: 50%;
    height: 83px; 
    gap: 5px;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}
.description{
    width: 350px;
    height: 105px;
}

.description-block{
    width: 350px;
    height: 81px;
}

.date{
    width: 350px;
    height: 22px;
}

.all-news-btns-block{
    width: 100%;
    max-height: 40px;
    gap: 243px;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1;
    justify-content: end;
    /* margin-left: 200px; */
}    

/* .open-all-news{
    width: px;
    height: 40px;
    padding: 8px, 16px, 8px, 16px;
    border-radius: 4px;
    gap: 5px;
} */

.all-news-btn{
    width: 130px;
    height: 24px;
    display: flex;
    gap: 10px;
    background-color: transparent;
    border: none;
    font-family: Proba Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(45, 92, 166, 1);
}

.all-news-btn-img{
    width: 18px;
    height: 18px
}

.news-links-block-adaptive{
    display: none;
}

/* -------------------------------------------------------------------- */

@media (max-width: 768px){

    .news-links-block{
        display: none;
    }

    .news-titles{
        display: none;
    }

    .all-news-btns-block{
        display: none;
    }
    
    .news-links-block-adaptive{
        display: block;
        width: 342px;
        height: 835px;
        padding-left: 15px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    
    .news-column{
            width: 350px;
            height: 83px; 
            gap: 5px;
            display: flex;
            flex-flow: row wrap;
            flex: 1;
            margin-bottom: 40px;
    }
    
    .open-all-news{
        width: 350px;
        height: 48px; 
        display: flex;
        justify-content: end;

    }
}

/* --------------------------------------------------------------------- */

@media (max-width: 480px){

    .news-links-block{
        display: none;
    }
    .news-titles{
        display: none;
    }
    .all-news-btns-block{
        display: none;
    }

    .main-content-news{
        max-width: 460px;
        padding-left: 45px;
        padding-top: 20px;
        display: flex;
        flex-flow: column wrap;
        flex: 1;
    }

    .news-links-block-adaptive{
        display: block;
        width: 342px;
        height: 835px;
        padding-left: 15px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}
