
button.gov-ua-header{
    width: 183px;
    background-color: transparent;
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.gov-ua-btn-text{
    width: 163px;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

img.flag-img{
    margin-top: 10px;
}

