.fito-main-content{
    display: block;
    width: 1110px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 45px;
}

.links-block-1{
    width: 350px;
    padding-bottom: 20px;
}


.links-block-2{
    width: 350px;
    padding-bottom: 20px;
}

.links-block-3{
    width: 350px;
    padding-bottom: 20px;
}
.links-block-4{
    width: 350px;
    padding-bottom: 20px;
}

.links-block-4-content{
    width: 350px;
    border-left: 1px solid rgba(45, 92, 166, 1);
    padding-left: 15px;
}

.links-block-5{
    width: 350px;
    padding-bottom: 20px;
}
.links-block-6{
    width: 350px;
    padding-bottom: 20px;
}

.links-block-7{
    width: 350px;
    padding-bottom: 20px;
}

.links-block-8{
    width: 350px;
    padding-bottom: 20px;
}

.links-block-9{
    width: 350px;
    padding-bottom: 20px;
}

.links-block-10{
    width: 350px;
    padding-bottom: 20px;
}

.links-block-11{
    width: 350px;
    padding-bottom: 20px;
}

.links-block-11-title{
    width: 350px;
}

.links-block-11-content{
    width: 350px;
    border-left: 1px solid rgba(45, 92, 166, 1);
    padding-left: 15px;
}

.links-block-12{
    width: 350px;
    padding-bottom: 20px;
}

.links-block-13{
    width: 350px;
    padding-bottom: 20px;
}
