html{
    font-size: 14px;

}

header{
    position: relative; 
    z-index: 2
}


.container{
    max-width: 1199px;
    margin: 0 auto;
}

/* main text style */

p {
    color: #1D1D1B;
    font-family: Proba Pro;
    // font-size: 16px;
    font-size: 1.15rem;
    font-style: normal;
    // line-height: 24px;
    font-weight: 400;
    line-height: 1.7rem;
}

/* 1st level title style */

h1 {
    color: #1D1D1B;
    font-family: Proba Pro;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.57rem;
    font-variant: small-caps;
}

/* date style */

h2 {
    color: #6D727C;
    font-family: Proba Pro;
    font-size: 1.14rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem; 
}


/* 2nd level title style */

h3{
    color: #1D1D1B;
    font-family: Proba Pro;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.9rem;
}

/* navigation style */

h5{
    color: #2D5CA6;
    font-family: Proba Pro;
    font-size: 1.17rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.7rem;
}

/* link style */

a{
    color: #2D5CA6;
    font-family: Proba Pro;
    font-size: 1.14rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem; 
    text-decoration: none;
}

/* generated description info style */

h4{
    color: #2D5CA6;
    font-family: Proba Pro;
    font-size: 1.14rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.7rem; 
}


p.registr-err-mes{
    color: red;
}

.menu-burger-header{
    display: none;
}

button.burger-btn{
    display: none;
}

@media (max-width: 1199px){

    .container{
        max-width: 768px;
        margin: 0 auto;
    }

    .menu-burger-header{
        display: block;
    }

    button.burger-btn{
        display: block;
        background-color: transparent;
        border: none;
        position: absolute;
    }

}