
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './global/layout.css';

#app{
    width: 100%;
    /* width: 1600px;
    height: 1773px; */
    /* background-color: #DFE4E7; */
    margin: 0 auto;
}

/* main{
    width: 100%;
    height: 100vh;
} */

/* .main-app{
    width: 1200px;
    margin: auto;
}

main{
    display: flex;
    justify-content: center
} */
