
.search-btn-adaptive{
    display: none;
}

.search-btn{
    width: 81px;
    height: 24px;
    margin-top: 33px;
    gap: 10px;
    padding-left: 50px;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1;
}

button.open-search{
    width: 90px;
    display: flex;
    gap: 10px;
    background-color: transparent;
    border-style: none;
    font-family: Proba Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}


@media (max-width: 1199px){

    .search-btn-adaptive{
        display: none;
    }

    .search-btn{
        display: block;
    }
}

@media (max-width: 757px){

    .search-btn-adaptive{
        display: none;
    }

    .search-btn{
        display: block;
    }
}


@media (max-width: 459px){

    .search-btn{
        display: none;
    }

    .search-btn-adaptive{
        display: block;
    }
    

    
}