
.layout-footer{
    width: 1199px;
    padding-top: 22px;
    height: 116px;
    border-top: 1px solid rgba(194, 197, 203, 1);
    bottom: 0;
    background-color: white;
    margin: 0 auto;
}

.block-one{
    width: 750px;
    height: 72px;
}

.developer-block{
    width: 132px;
    height: 48px;
    padding: 0;
}

@media (max-width: 1199px) {

    .layout-footer{
         width: 768px;
        height: 156px;
    }

    .block-one{
        width: 528px;
        height: 96px;
    }
}

@media (max-width: 767px) {

    .layout-footer{
          width: 450px;
        height: 174px;
    }

    .block-one{
        width: 450px;
        height: 120px; 
    }

}

@media (max-width: 479px) {
    
    .layout-footer{
        width: 360px;
        height: 306px;
    }

    .block-one{
        width: 330px;
        height: 168px;
    }

}