@media (max-width: 1199px){
    
    .menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .burger-menu{
    position: relative;
  }

  .first-el-header{
    display: flex;
    flex-flow: row wrap;
    flex: 1 1
  }

  .open-search-menu-burger{
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;

  }

  button.open-search-menu-burger{
    width: 90px;
    display: flex;
    gap: 10px;
    background-color: transparent;
    border-style: none;
    font-family: Proba Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    top: 0;
}
   
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .menu-btn > span::after {
    content: '';
    top: 8px;
  }
   
  .social-network-btns-adaptive{
    width: 68px;
    height: 24px;
    display: flex;
    gap: 20px;

}

.frame1-adaptive{
    width: 227px;
    gap: 10px;
    display: flex;
    flex-flow: row wrap;
    flex: 1 ;
    gap: 30px;
    padding-top: 30px;
    padding-left: 20px;
}

.govua-group{
    display: flex;
    flex-flow: row wrap;
    flex: 1 1;
    gap: 10px;
   
}
  
.menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 732px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #1B3764;
    /* box-shadow: 1px 0px 6px rgba(0, 0, 0, .2); */
    transition-duration: .25s;
    /* column-count: 2; */
  }
   
  .menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu-item:hover {
    /* background-color: #CFD8DC; */
  }
  ul.dropdown-menu{
    /* display: flex;
    flex-flow: row wrap;
    flex: 1 1; */
   column-count: 2;
    width: 100%;
    
    left: 0;
    z-index: 10;
    padding-left: 0;
    /* position: relative; */
    /* padding: 32px 45px; */
    /* top: 100%; */
}
   
  ul.dropdown-menu.show {
    width: 100%;
    background-color: #1B3764;
    position: absolute;
    height: 732px;
    padding-top: 0;
    padding-left: 0;
    z-index: 11;
    }
   
  #menu-toggle{
    opacity: 0;
  }
   
  #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
  }

  a.dropdown-item{
    font-family: Proba Pro;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-decoration-line: none;
    border: none;
    height: 48px;
    width: 325px;
} 
button.open-search-menu-burger-adaptive{
    display: none;
  }
  }
  @media (max-width: 759px) {
   
    .menubox{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        height: 792px;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #1B3764;
        /* box-shadow: 1px 0px 6px rgba(0, 0, 0, .2); */
        transition-duration: .25s;
      }
      button.open-search-menu-burger-adaptive{
        display: none;
      }

  }
  
  @media (max-width: 479px) {
    .menubox{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%px;
        height: 792px;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #1B3764;
        /* box-shadow: 1px 0px 6px rgba(0, 0, 0, .2); */
        transition-duration: .25s;
      }
      button.open-search-menu-burger{
        display: none;
      }
      button.open-search-menu-burger-adaptive{
        background-color: transparent;
        border: none;
        display: block;
        width: 24px;
        height: 24px;
        top: 0;
      }
  }
