
.header-layout{
    width: 1200px;
    background: radial-gradient(51.38% 150.28% at 50% 50%, #104D82 0%, #234161 100%);
}
.header-content{
    height: 358px;
    // background: radial-gradient(51.38% 150.28% at 50% 50%, #104D82 0%, #234161 100%);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 1;
    padding-top: 23px;
    position: relative;
    margin: 0 auto;
}

.header-1st-row{
    display: flex;
    padding-top: 20px;
}

.emblem-img{
    width: 32px;
    height: 53.33px;
    padding: 0px, 0px, 0.01px, 0px;
}

.social-network-btn-block{
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    float: right;
}

.first-el-header{
    display: flex;
}
.gov-header{
    padding-left: 50px;
}

.header-content-adaptive{
    display: none;
}

.search-btn-1{
   display: none; 
}

.search-header-btn-adaptive{
    display: none;
}

.main-menu{
    width: 1199px;
}

// .burger{
//     display: none;
// }

button.burger-btn{
    display: none;
}

@media (max-width: 1199px){

    .header-content{
        max-width: 768px;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        flex: 1 1;
    }

    .header-1st-row{
        display: flex;
        flex-flow: row wrap;
        flex: 1 1;
    }
    
    .header-layout{
        width: 768px;

    }

    .header-1st-row-3rd-block{
        display: flex;    
    }

    .main-menu-block{
        display: none;
    }
    
    // .burger{
    //     display: block;
    //     width: 24px;
    //     height: 24px;
    // }
    
    .social-network-btn-block{
        display: none;
    }

    .header-dark-mode{
        display: none;
    }
    
    .search-btn-1{
        display: block;
        
        // padding-right: 20px;
    }
    
    button.burger-btn{
        display: block;
    }

    img.menu-burger-img{
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    
    }
    /* --------------------------------------------------------------------- */
    
    @media (max-width: 757px){
    
        .header-content{
            width: 480px;
            height: 360px;
            margin: 0 auto;;
        }
     
    }
    
    /* --------------------------------------------------------------------- */
    
    @media (max-width: 459px){
    
        .header-content{
            width: 360px;
            height: 360px;
            margin: 0 auto;
        }
        
    }
